<main>
  <section>
    <h2>My TODO List</h2>
    <p>A place to store your todossssss!</p>
    <form class="filter-form">
      <input type="text" value="Filter your to-dossss" />
    </form>
    <ol>
      <li *ngFor="let todo of todoArr; index">
        <div class="task-container">
          <button *ngIf="!todo.completed" class="complete">Complete</button>
          <p [ngClass]="{ completed: todo.completed }" class="task">
            {{ todo.task }}
          </p>
          <button (click)="deleteTask(todo.id)">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </li>
    </ol>
    <form class="add-form" #addForm="ngForm" (ngSubmit)="addTask(addForm)">
      <input type="text" placeholder="Add your to-dossss" name="task" ngModel />
      <button class="add">Add</button>
    </form>
  </section>
</main>
